<div class="container mt-5">
    <h2 class="text-center text-primary mb-4">🚀 Vacantes Disponibles</h2>

    <app-vacante-filtro (filtroCambiado)="aplicarFiltros($event)"></app-vacante-filtro>


    @if (vacantes.length > 0) {
      <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4">
        @for (vacante of vacantes; track $index) {
          <div class="col">
            <app-vacante-card [vacante]="vacante"></app-vacante-card>
          </div>
        }
      </div>
    } @else {
      <div class="alert alert-warning text-center">⚠️ No hay vacantes disponibles.</div>
    }
  </div>